body {
	background-color: whitesmoke;
	margin: 0;
}

.header h1 {
	font-size: 64px;
	color: white;
	text-align: center;
	background-color: red;
	margin-top: 0;
	height: 80px;
	width: 700px;

	
}

#title, h1 {
	position: relative;

}

.box, img {
	width: 120px;
	height: 100px;
	float: top;
	margin-top: 0px;
}